#use_id_input{
    background-color: brown;
    font-size: 20px;
}
#user_pw_input{
    background-color: cornflowerblue;
    font-size: 30px;
}
img{
    width: 300px;
    height: 300px;

}
select{

    font-style: italic;
}

textarea{
    margin: 100px;
    padding: 10px;

}